{% from "core/macros.html" import render_errors %}

<form action="{{ url_for('core.home') }}" method="POST">
	{{ form.csrf_token }}
	<div class="mb-3">
		{{ form.date.label(class_="form-label") }}
		{{ form.date(class_="form-control") }}
		{{ render_errors(form.date.errors) }}
	</div>
	<div class="mb-3">
		{{ form.title.label(class_="form-label") }}
		{{ form.title(class_="form-control") }}
		{{ render_errors(form.title.errors) }}
	</div>
	<div class="mb-3">
		{{ form.description.label(class_="form-label") }}
		{{ form.description(class_="form-control", rows=3) }}
		{{ render_errors(form.description.errors) }}
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>